@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-image: url("../img/img-noise.png");
  color: #E2F2FF;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  height: 100vh;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

.profile-wrapper {
  background: linear-gradient(to bottom right, #ea8a8a, #29faaa);
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 340px;
}

.profile-photo {
  border-radius: 10px 10px;
  display: block;
}

.profile-photo img {
  border-radius: 100%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  height: 100px;
  margin-top: 40px;
  text-align: center;
  width: 100px;
}

.name {
  color: #FFF;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .1em;
  margin-top: 1em;
}

.occupation {
  font-size: .8em;
  font-weight: 300;
  letter-spacing: .2em;
  margin-top: .6em;
}

.social {
  margin: 30px 0 10px 0;
}

.social-link {
  color: #FFF;
  padding: 8px;
  transition: all .3s ease-out;
}

.social-link:hover {
  opacity: 0.7;
}
